html {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: #0f9d58;
    margin-right: auto;
}

.jumbotron {
    text-align: center;
    width: 100%;

}

p {
    float: inline-start;
}

.container {
    padding: 1rem;
    margin: 1rem;
    background-color: cornflowerblue;

}

.card {
    padding: 1rem;
    margin: 1rem;
    margin: 10px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.headshot {
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 20px;
    border: white solid 5px;

}

footer {
    background-color: #F4B400;
    
}

.fab {
    color: black;
}


